<!DOCTYPE html>
<html>
<title>Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
rel = "stylesheet">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#departure_date" ).datepicker();
  } );
  </script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
    <div id="main_container">
        <!-- Header -->
        <header class="w3-container w3-blue w3-center" style="padding:128px 16px">
            <h1 class="w3-margin w3-jumbo"></h1>
            <p class="w3-medium"></p>
        
            <!-- !Seach Engine! -->
            <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                <div class="w3-display-centre w3-padding w3-col l30 m14">
                    <div class="w3-container w3-white">
                        <h2><i class="fa fa-plane w3-margin-centre"></i> Find My Destination! </h2>
                    </div>
                    <div class="w3-container w3-white w3-padding-16">
                        <div class="w3-row-padding" style="margin:0 -16px;">
                        <div class="w3-half w3-margin-bottom">
                            <label><i class="fa fa-calendar-o"></i> Fly From</label>
                            <input class="w3-input w3-border" type="text" placeholder="Airport" v-model="origin" name="Fly From" required>
                        </div>
                        <div class="w3-half">
                            <label><i class="fa fa-calendar-o"></i> Departure Date </label>
                            <input type="text" id="departure_date" v-model="departure_date" name="departure_date">
                        </div>
                        </div>
                        <div class="w3-row-padding" style="margin:8px -16px;">
                        <div class="w3-half w3-margin-bottom">
                            <label><i class="fa fa-sun-o"></i> Weather °F</label>
                            <input class="w3-input w3-border" type="number" value="1" v-model="weather" name="Weather" min="1" max="6">
                        </div>
                        <div class="w3-half">       
                            <div data-role="rangeslider">
                                <label for="price-min">Adjust Price:</label>
                                <input type="range" name="price_min" id="price_min" v-model="price_min" value="50" min="0" max="1000">
                                <label for="price-max">Price:</label>
                                <input type="range" name="price_max" id="price_max" v-model="price_max" value="800" min="0" max="1000">
                            </div>       
                        </div>
                        <div class="w3-row-padding" style="margin:8px -16px;">
                            <div class="w3-half w3-margin-bottom">
                                <label><i class="fa fa-language"></i> Language Spoken </label>
                                <input class="w3-input w3-border" type="text" v-model="language" name="Language">
                            </div>
                            <div class="w3-half w3-margin-bottom">
                                <div class="w3-half w3-margin-bottom">
                                    <label><i class="fa fa-taxi"></i> City with Uber? </label>
                                    <input type="checkbox" v-model="isUber" name="isUber" class="w3-check">
                                </div>
                                <div class="w3-half">
                                    <label><i class="fa fa-plane"></i> Domestic FLight? </label>
                                    <input type="checkbox" v-model="isDomestic" name="isDomestic" class="w3-check">
                                </div>
                            </div>
                        </div>
                        <button class="w3-button w3-light-grey" v-on:click="perform_search"><i class="fa fa-search w3-margin-right"></i> Ready Jet Go </button>
                    </div>
                </div>
            </div>
        </header>
            
        
        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
                   
            
            <div class="w3-row-padding w3-padding-16">
                <div v-for="result in results"  class="w3-third w3-margin-bottom">
                    <img v-bind:src="result.image_src" alt="IMG" style="width:100%">
                    <div class="w3-container w3-white">
                        <div>
                            <h2> {{result.Airport}}, {{result.City}} </h2>
                            <h6 class="w3-opacity">From USD${{result.DollarFare}}</h6>    
                            <p>Flight Type: {{result.FlightType}} </p>
                            <p>Expected Arrival Temperature: {{result.Temperature}} </p>
                            <p class="w3-large"> <i class="fa fa-wifi"></i><i class="fa fa-taxi"></i></p>    
                        </div>
                        <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Flight</button>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
            </div>
        </div>
    </div>        

<!-- Footer 
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Y Hack Live <a href="www.yhack.org/live" target="_blank">live link</a></p>
</footer>
-->
</body>
<!-- Vue and Vue controller -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.js"></script>
<script src="controller/app.js"></script>

</html>