<!DOCTYPE html>
<html>
<title>Template</title>
<script src="https://unpkg.com/vue"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Jet My Blue</h1>
  <p class="w3-xlarge">.css</p>
 
    
    <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    
    <div id="select_origin" class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Origin <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4" v-model="select_origin">
        <option v-for="origin in origins">
            <a>{{origin}}</a>        
        </option>  
      </div>
    </div>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Destination <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4" v-model="select_destination">
          <option><a><!--TODO-->></a></option>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Date <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4" v-model="select_date">
          <option><a><!--TODO-->></a></option>
      </div>
    </div>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Price <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4" "select_price">
        <option><a><!--TODO-->></a></option>
      </div>
    </div>
    <div id="search_flight">
      <button class="w3-padding-large w3-button" v-on:click="preform_search"><i class="fa fa-search"></i></button>
    </div>
</header>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="http://www.visitflorida.com/bin/vf/static/a0t4/a0t40000007quQjAAI/rendition.52840_original.268.150.imagecache">
      <h3>The Perfect Holiday</h3>
      <p>Just some random text, about the amazing time you will have.</p>
    </div>
    <div class="w3-quarter">
      <img src="https://www.popsci.com/sites/popsci.com/files/styles/1000_1x_/public/images/2017/03/la-skyline.jpg?itok=7dDE4YyW&fc=50,50" alt="LA" style="width:100%">
      <h3>Let Me Tell You About LA</h3>
      <p>Once again, some random text about how cool LA will be when you go.</p>
    </div>
    <div class="w3-quarter">
      <img src="https://lonelyplanetimages.imgix.net/mastheads/GettyImages-538096543_medium.jpg?sharp=10&vib=20&w=1200" alt="New York" style="width:100%">
      <h3>New York from above</h3>
      <p>Just imagine this view every day for a week</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Space_Needle002.jpg/1200px-Space_Needle002.jpg" alt="Seattle" style="width:100%">
      <h3>Seattle..wow</h3>
      <p>Could you be happier anywhere then here?</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="http://www.chicagosouthloophotel.com/resourcefiles/homeimages/chicago-south-loop-hotel-home1-top.jpg" alt="Popsicle" style="width:100%">
      <h3>All I Need Is Chicago</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="http://equalityarizona.org/wp-content/uploads/2014/07/phoenix-arizona-600x350.jpg" alt="Phoenix" style="width:100%">
      <h3>Just give it a try</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="http://www.bravocompetition.com/wp-content/uploads/2015/10/new-haven-connecticut.jpg" alt="New Haven" style="width:100%">
      <h3>New Haven *Heaven</h3>
      <p>Apparently they have an okay school here</p>
    </div>
    <div class="w3-quarter">
      <img src="https://mnchopper.com/wp-content/uploads/Mississippi-River-Tour.gif" alt="Mississippi" style="width:100%">
      <h3>Miss Miss</h3>
      <p>All Flowing here</p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;" class="w3-grayscale-max"></div>
<script>
function myMap() {
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: true,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.656835686357!2d-72.92453178519695!3d41.3163284083614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7d9b6cd624945%3A0xae34a2c4b4d30427!2sYale+University!5e0!3m2!1sen!2sus!4v1512192486392" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-plane w3-padding-64 w3-text-blue w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Lorem Ipsum</h1>
      <h5 class="w3-padding-32">Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly</h5>

      <p class="w3-text-grey">Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly
        Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly Fly
        </p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">YHack</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Y Hack Live <a href="www.yhack.org/live" target="_blank">live link</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
